body { 
    font-family: sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
    }
.container { 
    background: white; 
    padding: 40px; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    }
.btn { 
    display: block; 
    margin:  10px 0; 
    padding: 15px; 
    background: #007bff; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    text-decoration: solid;

    }
.btn:hover { 
    background: #0056b3;

    }